<section class=" bg-transparent">
    <div class="container d-flex flex-column">
        <div class="row align-items-center justify-content-center min-vh-100">
            <div class="col-md-12 py-6 py-md-0">
                <div class="card shadow zindex-100 mb-0">
                    <div class="card-header p-2">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <h2 class="text-center text-success">ĐĂNG NHẬP</h2>
                                    <span class="text-center">
                                        Tạo đơn hàng, theo dõi đơn hàng, có quyền truy cập vào báo cáo
                                        hàng hóa và nhiều hơn nữa!</span>
                                </div>
                                <div class="col-md-6 d-flex align-items-center justify-content-center p-0">
                                    <img src="assets/img/logo/logo_header.jpg" style="width: 200px" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-2">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 d-flex align-items-center justify-content-center ">
                                    <img src="assets/img/banner/banner.jpg" class="img-fluid" style="width: 450px" />
                                </div>
                                <div class="col-md-6 d-flex align-items-center justify-content-center flex-row">


                                    <form class="w-100 ">
                                        <div class="form-row justify-content-center">
                                            <div class="form-group col-md-8 text-center">
                                                <h4>Bạn Quên Mật Khẩu?</h4>
                                                <p>
                                                    Chúng tôi hiểu nó, mọi thứ sẽ xảy ra. Chỉ cần nhập địa chỉ email của
                                                    bạn vào bên
                                                    dưới và chúng tôi sẽ gửi cho bạn một
                                                    liên kết để đặt lại mật khẩu của bạn!</p>
                                            </div>
                                        </div>
                                        <div class="form-row justify-content-center">
                                            <div class="form-group col-md-8">
                                                <label class="form-control-label mb-0">Tài khoản</label>
                                                <input name="username" class="form-control form-control-sm is-valid "
                                                    type="userName" placeholder="Tài khoản hoặc Số điện thoại" autofocus
                                                    required />
                                                <div class=" small text-danger d-none">
                                                    <em>Không đúng định dạng !</em>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-row justify-content-center">
                                            <div class="form-group col-md-8">
                                                <button data-toggle="modal" data-target="#modal_success" type="submit"
                                                    class="btn btn-success btn-sm btn-block">
                                                    Đặt lại
                                                </button>
                                            </div>
                                        </div>
                                        <div class="form-row justify-content-center">
                                            <div class="col-md-8">
                                                <hr class="mt-0 mb-3 border-danger" />
                                            </div>
                                        </div>
                                        <div class="form-row justify-content-center">
                                            <div class="col-md-8">
                                                <ul class="list-unstyled text-center text-sm">
                                                    <li>
                                                        <a href="">Tạo tài khoản ?</a>
                                                    </li>
                                                    <li>
                                                        <a href="">Đã có tài khoản? Đăng nhập</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer p-2">
                        <ul class="list-inline d-flex justify-content-center align-items-center mb-0">
                            <li class="list-inline-item">
                                Hãy tải ứng dụng và bắt đầu
                                <em class="font-weight-bold text-uppercase">vận chuyển</em> trên điện
                                thoại của bạn ngay bây giờ!
                            </li>
                            <li class="list-inline-item">
                                <a href="">
                                    <img src="assets/img/download/ios.svg" alt="ios" />
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="">
                                    <img src="assets/img/download/android.svg" alt="android" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="modal modal-success fade" id="modal_success" tabindex="-1" role="dialog" aria-labelledby="modal_success"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="py-3 text-center">
                    <i class="fas fa-exclamation-circle fa-4x"></i>
                    <h5 class="heading h4 mt-4">Thông báo</h5>
                    <p>
                        Đã gửi liên kết khôi phục mật khẩu, vui lòng kiểm tra email để khôi phục. Nếu chưa thấy hãy kiểm
                        tra mục Spam hoặc nhắn
                        gửi lại
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-white" data-dismiss="modal">Đồng ý</button>
            </div>
        </div>
    </div>
</div>