<section class=" bg-transparent">
    <div class="container d-flex flex-column">
        <div class="row align-items-center justify-content-center min-vh-100">
            <div class="col-md-12 py-6 py-md-0">
                <div class="card shadow zindex-100 mb-0">
                    <div class="card-header p-2">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <h2 class="text-center text-success">ĐĂNG NHẬP</h2>
                                    <span class="text-center">
                                        Tạo đơn hàng, theo dõi đơn hàng, có quyền truy cập vào báo cáo
                                        hàng hóa và nhiều hơn nữa!</span>
                                </div>
                                <div class="col-md-6 d-flex align-items-center justify-content-center p-0">
                                    <img src="assets/img/logo/logo_header.jpg" style="width: 200px" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-2">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 d-flex align-items-center justify-content-center">
                                    <img src="assets/img/banner/banner.jpg" class="img-fluid" style="width: 450px" />
                                </div>
                                <div class="col-md-6 d-flex align-items-center justify-content-center">
                                    <form class="w-100 needs-validation" novalidate>
                                        <div class="form-row justify-content-center">
                                            <div class="form-group col-md-8">
                                                <label class="form-control-label mb-0">Tài khoản</label>
                                                <input name="username" class="form-control form-control-sm is-valid "
                                                    type="userName" placeholder="Tài khoản hoặc Số điện thoại" autofocus
                                                    required />
                                                <div class=" small text-danger d-none">
                                                    <em>Không đúng định dạng !</em>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row justify-content-center">
                                            <div class="form-group col-md-8">
                                                <div class="d-flex align-items-center justify-content-between">
                                                    <div>
                                                        <label class="form-control-label mb-0">Mật khẩu</label>
                                                    </div>
                                                    <div class="mb-2">
                                                        <a href="#"
                                                            class="small text-muted text-underline--dashed border-primary"
                                                            data-toggle="password-text"
                                                            data-target="#input-password">hiển
                                                            thị</a>
                                                    </div>
                                                </div>
                                                <input name="password" class="form-control form-control-sm is-invalid"
                                                    autofocus type="password" placeholder="Mật khẩu" required />
                                                <div class=" small text-danger">
                                                    <em>Không đúng định dạng !</em>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row justify-content-center">
                                            <div class="form-group col-md-8">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                        id="customCheck1" />
                                                    <label class="custom-control-label" for="customCheck1">
                                                        Ghi nhớ đăng nhập</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row justify-content-center">
                                            <div class="form-group col-md-8">
                                                <button type="submit" class="btn btn-success btn-sm btn-block">
                                                    Đăng nhập
                                                </button>
                                            </div>
                                        </div>
                                        <div class="form-row justify-content-center">
                                            <div class="col-md-8">
                                                <hr class="mt-0 mb-3 border-danger" />
                                            </div>
                                        </div>
                                        <div class="form-row justify-content-center">
                                            <div class="form-group col-md-8">
                                                <button type="button"
                                                    class="btn btn-success btn-sm btn-block btn-facebook btn-icon-label">
                                                    <span class="btn-inner--icon">
                                                        <i class="fab fa-facebook"></i>
                                                    </span>
                                                    <span class="btn-inner--text">Facebook</span>
                                                </button>
                                            </div>
                                            <div class="form-group col-md-8">
                                                <button type="button"
                                                    class="btn btn-google-plus btn-icon-label btn-block btn-sm">
                                                    <span class="btn-inner--icon">
                                                        <i class="fab fa-google-plus-g"></i>
                                                    </span>
                                                    <span class="btn-inner--text">Google</span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="form-row justify-content-center">
                                            <div class="col-md-8">
                                                <hr class="mt-0 mb-3 border-danger" />
                                            </div>
                                        </div>
                                        <div class="form-row justify-content-center">
                                            <div class="col-md-8">
                                                <ul class="list-unstyled text-center text-sm">
                                                    <li>
                                                        <a href="">Quên tài khoản ?</a>
                                                    </li>
                                                    <li>
                                                        <a href="">Tạo tài khoản</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer p-2">
                        <ul class="list-inline d-flex justify-content-center align-items-center mb-0">
                            <li class="list-inline-item">
                                Hãy tải ứng dụng và bắt đầu
                                <em class="font-weight-bold text-uppercase">vận chuyển</em> trên điện
                                thoại của bạn ngay bây giờ!
                            </li>
                            <li class="list-inline-item">
                                <a href="">
                                    <img src="assets/img/download/ios.svg" alt="ios" />
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="">
                                    <img src="assets/img/download/android.svg" alt="android" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>