<section class="">
    <div class="container">
        <div class="row row-grid justify-content-around align-items-center">
            <div class="col-lg-6 order-lg-2 ml-lg-auto pl-lg-6 mt-6">
                <h5 class="h2 mt-4">Giải đáp thắc mắc</h5>
                <p class="lead lh-190 my-4">
                    Giải đáp các câu hỏi nhanh giúp quý khách hiểu rõ hơn về sản phẩm,
                    dịch vụ của chúng tôi.
                </p>
                <ul class="list-unstyled">
                    <li class="py-2">
                        <div class="d-flex align-items-center">
                            <div>
                                <div class="icon icon-shape icon-primary icon-sm rounded-circle mr-3">
                                    <i class="fas fa-question"></i>
                                </div>
                            </div>
                            <div>
                                <span class="h6 mb-0"><a href="#FAQ">Câu hỏi thường gặp</a></span>
                            </div>
                        </div>
                    </li>
                    <li class="py-2">
                        <div class="d-flex align-items-center">
                            <div>
                                <div class="icon icon-shape icon-warning icon-sm rounded-circle mr-3">
                                    <i class="fas fa-info"></i>
                                </div>
                            </div>
                            <div>
                                <span class="h6 mb-0"><a href="#Guid">Hướng dẫn đóng gói & hàng hóa cấm</a></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="position-relative zindex-100">
                    <img alt="Image placeholder" src="assets/img/svg/illustrations/illustration-1.svg"
                        class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</section>