<section class="slice-sm">
    <div class="container">
        <div class="row row-grid justify-content-around align-items-center">
            <div class="col-lg-6 order-lg-2 ml-lg-auto pl-lg-6 mt-6">
                <!-- tiêu đê -->
                <h5 class="h2 mt-4">Theo dõi đơn hàng</h5>
                <!-- Tìm kiếm -->
                <div class="lead lh-190 my-4">
                    <div class="input-group">
                        <input type="text" class="form-control form-control-sm" autofocus
                            placeholder="Nhập mã đơn hàng">
                        <!-- Tự động focus vào input -->
                        <!-- kiểm tra format mã đơn hàng:
                            mã, số, kích thước
                            thông báo lỗi trước nhấn nút tìm
                        -->
                        <!-- Nhấn nút enter keyCode=13 tự động tìm -->
                        <!-- Kiểm tra yêu cầu nhập -->
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-success" type="button" id=""><i class="fa fa-search" />
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Có thông đơn hàng thì hiển thị thông tin vào list, nếu không có để trống -->
                <ul class="list-unstyled">
                    <li class="py-2">
                        <div class="d-flex align-items-center">
                            <div>
                                <div class="icon icon-shape icon-primary icon-sm rounded-circle mr-3">
                                    <i class="fas  fa-box" />
                                </div>
                            </div>
                            <div>
                                <span class="h6 mb-0"><a href="">Mã đơn hàng: </a></span>
                                <span>Tvh20182e834748</span>
                            </div>
                        </div>
                    </li>
                    <li class="py-2">
                        <div class="d-flex align-items-center">
                            <div>
                                <div class="icon icon-shape icon-warning icon-sm rounded-circle mr-3">
                                    <i class=" fas fa-user-times" />
                                </div>
                            </div>
                            <div>
                                <span class="h6 mb-0"><a href="">Ngày tạo: </a></span>
                                <span>20/01/2021, 19:00</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 order-lg-1 ml-lg-auto pl-lg-6 mt-6">
                <div class="position-relative zindex-100">
                    <img alt="Image placeholder" src="assets/img/banner/banner_TrackOrder.jpg" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</section>