<footer class="position-relative mt-6" id="footer-main">
    <div class="footer footer-dark">
        <div class="container pb-4">
            <div class="row">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <!-- Theme's logo -->
                    <a href="index.html">
                        <img alt="Image placeholder" style="width: 120px" src="assets/img/logo/logo_footer.png"
                            id="footer-logo" />
                    </a>
                    <!-- Address mission -->
                    <p class="mt-4 text-sm opacity-8 pr-lg-4 text-capitalize text-center text-sm-center text-md-left">
                        <strong>CÔNG TY TNHH CHANH SI</strong> <br />
                        534/4 đường ĐIện Biên Phủ Phường 21, Quận Bình Thạnh, TP.Hồ Chí Minh
                    </p>
                </div>
                <div class="col-lg-2 col-6 col-sm-4 ml-lg-auto mb-5 mb-lg-0 text-center text-sm-center text-md-left">
                    <!-- Social -->
                    <ul class="list-unstyled text-sm">
                        <h6 class="heading mb-3">Mạng xã hội</h6>
                        <li class="my-2">
                            <a class="" href="" target="_blank">
                                <image style="height: 30px" src="assets/img/IconSocial/phone.svg" />
                            </a>
                            058-353-8872
                        </li>
                        <li class="my-2">
                            <a class="" href="" target=" _blank">
                                <image style="height: 30px" src="assets/img/IconSocial/zalo.svg" />
                            </a>
                            058-353-8872
                        </li>

                        <li class="my-2">
                            <a class="" href="" target=" _blank">
                                <image style="height: 30px" src="assets/img/IconSocial/facebook.svg" />
                            </a>
                            fb.com/chanh8
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-6 col-sm-4 ml-lg-auto mb-5 mb-lg-0 text-center text-sm-center text-md-left">
                    <h6 class="heading mb-3">Tài khoản</h6>
                    <ul class="list-unstyled">
                        <li><a href="#">Cá nhân</a></li>
                        <li><a href="#">Cài đặt cá nhân</a></li>
                        <li><a href="#">Đơn hàng</a></li>
                        <li><a href="#">Thông báo</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0 text-center text-sm-center text-md-left">
                    <h6 class="heading mb-3">Về chúng tôi</h6>
                    <ul class="list-unstyled">
                        <li><a href="#">Dịch vụ</a></li>
                        <li><a href="#">Giá</a></li>
                        <li><a href="#">Liên hệ</a></li>
                        <li><a href="#">Thắc mắc</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0 text-center text-sm-center text-md-left">
                    <h6 class="heading mb-3">Công ty</h6>
                    <ul class="list-unstyled">
                        <li><a href="#">Tuyền dụng</a></li>
                        <li><a href="#">Trở thành tài xế</a></li>
                        <li><a href="#">Trở thành điểm dịch vụ</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>