<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content=" Dịch Vụ Vận Chuyển Chành 8 " />
<meta name="author" content="HuYi" />
<title>Chanh8 – Dịch Vụ Vận Chuyển </title>
<!-- Favicon -->
<link rel="icon" href="assets/img/logo/logo_header.jpg" type="image/png" />
<!-- Font Awesome -->
<link rel="stylesheet" href="assets/libs/@fortawesome/fontawesome-free/css/all.min.css" />
<!-- Quick CSS -->
<link rel="stylesheet" href="assets/css/quick-website.css" id="stylesheet" />
<!-- animate -->
<link rel="stylesheet" href="assets/libs/animate.css/animate.min.css">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">