<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white">
    <div class="container">
        <!-- Brand -->
        <a class="navbar-brand" href="index.html">
            <img alt="logo_header" src="assets/img/logo/logo_header.jpg" style="height: 62px" id="navbar-logo" />
        </a>
        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mt-4 mt-lg-0 ml-auto text-capitalize">
                <li class="nav-item">
                    <a class="nav-link" href="/src/index.html">Trang chủ</a>
                </li>
                <li class="nav-item dropdown dropdown-animate" data-toggle="hover">
                    <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">Dịch vụ</a>
                    <div class="dropdown-menu ">
                        <a href="/src/theo-doi-don-hang.html" class="dropdown-item">Theo dõi đơn hàng</a>
                        <a href="/src/chi-phi.html" class="dropdown-item">Ước tính chi phí</a>
                        <a href="contact.html" class="dropdown-item">Vị trí</a>
                        <a href="login.html" class="dropdown-item">Track Customized ID</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/src/thac-mac.html">Thắc mắc</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/src/lien-he.html">Liên hệ</a>
                </li>

                <!-- Button Nếu chưa đăng nhập hiển thị nút này  "d-flex" thành "d-none"-->
                <li class="nav-item d-none justify-content-center align-items-center">
                    <a class="navbar-btn btn btn-sm btn-primary" href="">
                        Đăng nhập
                    </a>
                </li>
                <!-- tài khoản -->
                <li class="nav-item dropdown dropdown-animate" data-toggle="hover">
                    <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">Huyi</a>
                    <div class="dropdown-menu dropdown-menu-single">
                        <a class="dropdown-item small" href="#">Thông tin tài khoản</a>
                        <a class="dropdown-item" href="#">Đơn hàng</a>
                        <a class="dropdown-item" href="#">Lịch sử đơn hàng</a>
                        <a class="dropdown-item" href="#">Đăng ký đối tác</a>
                        <a class="dropdown-item" href="#">Đăng xuất</a>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up" />
</a>
<style>
    .scroll-to-top {
        position: fixed;
        z-index: 200;
        right: 0rem;
        bottom: 0;
        width: 2.75rem;
        height: 2.75rem;
        text-align: center;
        color: #fff;
        background: #ffbe3d;
        line-height: 46px;
    }

    .scroll-to-top:focus,
    .scroll-to-top:hover {
        color: white;
    }

    .scroll-to-top:hover {
        background: #5a5c69;
    }

    .scroll-to-top i {
        font-weight: 800;
    }
</style>

<style>
    .navbar {
        position: fixed !important;
    }
</style>