<section class="bg-transparent">
    <div class="container d-flex flex-column">
        <div class="row align-items-center justify-content-center min-vh-100">
            <div class="col-md-12 py-6 py-md-0">
                <div class="card shadow zindex-100 mb-0">
                    <div class="card-header p-2 border-bottom border-dark-success">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <h2 class="text-center text-success">ĐĂNG KÝ</h2>
                                    <span class="text-center">
                                        Tạo đơn hàng, theo dõi đơn hàng, có quyền truy cập vào báo
                                        cáo hàng hóa và nhiều hơn nữa!</span>
                                </div>
                                <div class="col-md-6 d-flex align-items-center justify-content-center p-0">
                                    <img src="assets/img/logo/logo_header.jpg" style="width: 200px" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-2 my-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 d-flex align-items-center justify-content-center">
                                    <form class="w-100 needs-validation" novalidate>
                                        <div class="form-row justify-content-center">
                                            <div class="form-group col-md-4">
                                                <label class="form-control-label mb-0">Tài khoản</label>
                                                <input name="username" class="form-control form-control-sm"
                                                    type="userName" placeholder="Tài khoản hoặc Số điện thoại" autofocus
                                                    required />
                                                <div class="small text-danger d-none">
                                                    <em>Không đúng định dạng !</em>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="form-control-label mb-0">Số điện thoại</label>
                                                <input name="username" class="form-control form-control-sm"
                                                    type="number" placeholder="Số điện thoại" autofocus required />
                                                <div class="small text-danger d-none">
                                                    <em>Không đúng định dạng !</em>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="form-control-label mb-0">Email</label>
                                                <input name="username" class="form-control form-control-sm" type="email"
                                                    placeholder="Địa chỉ email" autofocus required />
                                                <div class="small text-danger d-none">
                                                    <em>Không đúng định dạng !</em>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row justify-content-center">
                                            <div class="form-group col-md-4">
                                                <label class="form-control-label mb-0">Số lượng đơn hàng mỗi
                                                    tháng</label>
                                                <select class="custom-select custom-select-sm">
                                                    <option selected>Số lượng đơn hàng mỗi tháng</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                                <div class="small text-danger d-none">
                                                    <em>Không đúng định dạng !</em>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="form-control-label mb-0">Ngành hàng</label>
                                                <select class="custom-select custom-select-sm">
                                                    <option selected>Ngành hàng</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                                <div class="small text-danger d-none">
                                                    <em>Không đúng định dạng !</em>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="form-control-label mb-0">kênh bán hàng</label>
                                                <select class="custom-select custom-select-sm">
                                                    <option selected>Kênh bán hàng</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                                <div class="small text-danger d-none">
                                                    <em>Không đúng định dạng !</em>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row justify-content-center">
                                            <div class="form-group col-md-4">
                                                <div class="d-flex align-items-center justify-content-between">
                                                    <div>
                                                        <label class="form-control-label mb-0">Mật khẩu</label>
                                                    </div>
                                                    <div class="mb-2">
                                                        <a href="#"
                                                            class="small text-muted text-underline--dashed border-primary"
                                                            data-toggle="password-text"
                                                            data-target="#input-password">hiển thị</a>
                                                    </div>
                                                </div>
                                                <input name="password" class="form-control form-control-sm" autofocus
                                                    type="password" placeholder="Mật khẩu" required />
                                                <div class="small text-danger">
                                                    <em>Không đúng định dạng !</em>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <div class="d-flex align-items-center justify-content-between">
                                                    <div>
                                                        <label class="form-control-label mb-0">Xác nhận mật khẩu</label>
                                                    </div>
                                                    <div class="mb-2">
                                                        <a href="#"
                                                            class="small text-muted text-underline--dashed border-primary"
                                                            data-toggle="password-text"
                                                            data-target="#input-password">hiển thị</a>
                                                    </div>
                                                </div>
                                                <input name="password" class="form-control form-control-sm" autofocus
                                                    type="password" placeholder="Mật khẩu" required />
                                            </div>
                                            <div class="form-group col-md-4 d-flex align-items-center">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                        id="customCheck1" />
                                                    <label class="custom-control-label" for="customCheck1">
                                                        <a href=" "> Chấp nhận điều khoản</a></label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-row justify-content-center">
                                            <div class="col-md-6">
                                                <hr class="mt-0 mb-3 border-danger" />
                                            </div>
                                        </div>
                                        <div class="form-row justify-content-center">
                                            <div class="form-group col-md-4">
                                                <button type="submit" class="btn btn-success btn-sm btn-block">
                                                    Đăng ký
                                                </button>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <button type="button"
                                                    class="btn btn-success btn-sm btn-block btn-facebook btn-icon-label">
                                                    <span class="btn-inner--icon">
                                                        <i class="fab fa-facebook"></i>
                                                    </span>
                                                    <span class="btn-inner--text">Facebook</span>
                                                </button>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <button type="button"
                                                    class="btn btn-google-plus btn-icon-label btn-block btn-sm">
                                                    <span class="btn-inner--icon">
                                                        <i class="fab fa-google-plus-g"></i>
                                                    </span>
                                                    <span class="btn-inner--text">Google</span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="form-row justify-content-center">
                                            <div class="form-group col-md-4 ">
                                                <button type="button"
                                                    class="btn btn-secondary btn-icon-label btn-block btn-sm">
                                                    <span class="btn-inner--icon">
                                                        <i class="fas fa-arrow-left" />
                                                        <span class="btn-inner--text">Quay về</span>
                                                    </span>
                                                </button>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <button type="button"
                                                    class="btn btn-danger btn-icon-label btn-block btn-sm">
                                                    <span class="btn-inner--icon">
                                                        <span class="btn-inner--text">Đăng nhập</span>
                                                        <i class="fas fa-arrow-right" />
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer p-2">
                        <ul class="list-inline d-flex justify-content-center align-items-center mb-0">
                            <li class="list-inline-item">
                                Hãy tải ứng dụng và bắt đầu
                                <em class="font-weight-bold text-uppercase">vận chuyển</em> trên
                                điện thoại của bạn ngay bây giờ!
                            </li>
                            <li class="list-inline-item">
                                <a href="">
                                    <img src="assets/img/download/ios.svg" alt="ios" />
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="">
                                    <img src="assets/img/download/android.svg" alt="android" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>