<section>
    <div class="container">
        <div class="row justify-content-lg-end">
            <div class="col-lg-5 text-lg-right text-center text-md-right">
                <h6 class="display-4 text-danger">99+</h6>
                <p class="lh-180 mb-3">
                    Đã tin dùng, Ngay bây giờ bạn hãy tạo đơn hàng, theo dõi đơn hàng, có
                    quyền truy cập vào báo cáo hàng hóa <br />
                    và nhiều hơn nữa ...
                </p>
            </div>
            <div class="col-lg-6">
                <h3 class="display-4 lh-130 text-center text-md-left">
                    Trải nghiệm trên thiết bị của bạn
                </h3>

                <ul class="list-inline d-flex justify-content-center justify-content-md-start">
                    <li class="list-inline-item hover-translate-y-n10">
                        <a href="">
                            <img src="assets/img/download/ios.svg" alt="ios" />
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="">
                            <img src="assets/img/download/android.svg" alt="android" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card border-0 bg-soft-danger">
                    <div class="card-body pb-5">
                        <div class="pt-4 pb-5">
                            <img src="assets/img/svg/illustrations/illustration-9.svg" class="img-fluid img-center"
                                style="height: 200px" alt="Illustration" />
                        </div>
                        <h5 class="h4 lh-130 text-dark mb-3">Giao Hàng Sớm Nhất</h5>
                        <p class="text-dark opacity-6 mb-0">
                            Giao Bằng Xe Máy <br />
                            Giao khắp các quận huyện Hồ Chí Minh<br />
                            Giao hàng một giá<br />
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0 bg-soft-success mt-lg-5">
                    <div class="card-body pb-5">
                        <div class="pt-4 pb-5">
                            <img src="assets/img/svg/illustrations/illustration-4.svg" class="img-fluid img-center"
                                style="height: 200px" alt="Illustration" />
                        </div>
                        <h5 class="h4 lh-130 text-dark mb-3">Quản Lý Vận Hành</h5>
                        <p class="text-dark opacity-6 mb-0">
                            Quản lý bằng web và app<br />
                            Dễ dàng theo dõi đơn hàng<br />
                            Dễ dàng xem giá dịch vụ<br />
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0 bg-soft-warning mt-lg-7">
                    <div class="card-body pb-5">
                        <div class="pt-4 pb-5">
                            <img src="assets/img/svg/illustrations/illustration-5.svg" class="img-fluid img-center"
                                style="height: 200px" alt="Illustration" />
                        </div>
                        <h5 class="h4 lh-130 text-dark mb-3">Chăm Sóc Khách Hàng</h5>
                        <p class="text-dark opacity-6 mb-0">
                            Đại Lý Rộng Khắp<br />
                            Nhiều ưu đãi<br />
                            Hỗ trợ 24/7<br />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="slice slice-sm bg-section-secondary" id="partner">
    <div class="container text-center">
        <div class="row justify-content-center mb-3">
            <div class="col-lg-8">
                <!-- Title -->
                <h2 class="h1 strong-600">Đối tác</h2>
                <!-- Text -->
                <p class="text-muted">
                    Cung cấp dịch vụ của CHANH SI CO., LTD và nhận hoa hồng đầy hấp dẫn
                </p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-4 col-md">
                <div class="card card-pricing text-center px-3 hover-scale-110">
                    <div class="card-header py-5 border-0 delimiter-bottom">
                        <div class="h1 text-center mb-0">
                            <span class="price font-weight-bolder">Cơ hội</span>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled text-sm mb-4">
                            <li class="py-2">Bạn sẳn sàng cung cấp các dịch vụ</li>
                            <li class="py-2">Bạn sẳn sàng hợp tác dưới thương hiệu</li>
                            <li class="py-2">
                                Bạn có mặt bằng ở nơi đông dân cư và dễ nhận diện
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md">
                <div class="card card-pricing bg-gradient-success text-center px-3 border-0 hover-scale-110">
                    <div class="card-header py-5 border-0 delimiter-bottom">
                        <div class="h1 text-white text-center mb-0">
                            <span class="price font-weight-bolder">Quyền lợi</span>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled text-white text-sm opacity-8 mb-4">
                            <li class="py-2">Hoa hồng hấp dẫn</li>
                            <li class="py-2">Được hỗ trợ về đào tạo và marketing</li>
                            <li class="py-2">Tham gia vào làm sóng thương mại điện tử</li>
                        </ul>
                        <a href="/src/dang-ky.html"
                            class="btn btn-sm btn-white hover-translate-y-n3 hover-shadow-lg mb-3">Đăng ký
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Đối tác -->
<section class="slice slice-sm">
    <div class="container">
        <div class="row justify-content-center mb-3">
            <div class="col-lg-8">
                <!-- Title -->
                <h2 class="h1 strong-600 text-center">Hợp tác</h2>
            </div>
        </div>
        <!-- List Partner -->
        <div id="listPartner" class="row mx-lg-n4 d-flex justify-content-center"></div>
        <div class="mt-5 text-center">
            <p class="mb-2">
                Và còn nhiều nhãn hàng khác sắp họp tác, phát triển cùng Chanh8, bạn đã
                sẳn sàng chưa?
            </p>
            <a href="#" class="text-primary text-underline--dashed">
                Đăng ký trở thành đối tác
                <i data-feather="arrow-right" class="ml-2" />
            </a>
        </div>
    </div>
</section>

<script>
    const partner = document.getElementById("listPartner");
    const listPartner = [
        {
            url_img: "assets/img/boxService/box.png",
            title: "Theo dõi đơn hàng",
            slug: "theo-doi-don-hang",
        },
        {
            url_img: "assets/img/boxService/customer.png",
            title: "Track customized ID",
            slug: "track-cus-id",
        },
        {
            url_img: "assets/img/boxService/fees.png",
            title: "Ước tính chi phí",
            slug: "uoc-tinh-chi-phi",
        },
        {
            url_img: "assets/img/boxService/location.png",
            title: "Vị trí",
            slug: "vi-tri",
        },
        {
            url_img: "assets/img/boxService/box.png",
            title: "Theo dõi đơn hàng",
            slug: "theo-doi-don-hang",
        },
        {
            url_img: "assets/img/boxService/customer.png",
            title: "Track customized ID",
            slug: "track-cus-id",
        },
        {
            url_img: "assets/img/boxService/fees.png",
            title: "Ước tính chi phí",
            slug: "uoc-tinh-chi-phi",
        },
        {
            url_img: "assets/img/boxService/location.png",
            title: "Vị trí",
            slug: "vi-tri",
        },
        {
            url_img: "assets/img/boxService/box.png",
            title: "Theo dõi đơn hàng",
            slug: "theo-doi-don-hang",
        },
        {
            url_img: "assets/img/boxService/customer.png",
            title: "Track customized ID",
            slug: "track-cus-id",
        },
        {
            url_img: "assets/img/boxService/fees.png",
            title: "Ước tính chi phí",
            slug: "uoc-tinh-chi-phi",
        },
        {
            url_img: "assets/img/boxService/location.png",
            title: "Vị trí",
            slug: "vi-tri",
        },
    ];
    let html_partner = "";
    listPartner?.map(({ url_img, title }, i) => {
        html_partner += `
            <div key='${i}' class="col-lg-4 col-md-6 px-lg-4">
                <div class="card shadow-none hover-translate-y-n10 hover-shadow-lg">
                    <div class="p-3 d-flex text-center">
                        <div class="w-50 ">
                            <image height="50" src='${url_img}' />
                        </div>
                        <div class="w-50 m-auto">
                            <span class="h6">${title}</span>
                        </div>
                    </div>
                </div>
            </div>`;
        return (partner.innerHTML = html_partner);
    });
</script>