<!-- Thông báo lôi khi không tìm thấy đơn hàng -->
<!-- <section class="slice slice-lg d-none d-sm-none d-md-block">
    <div class="container">
        <h3 class="text-center d-none">
            Không tìm mã đơn hàng, Có thể Mã đơn hàng không hợp lệ hoặc đã hết hạn.
            <br />
            lòng kiêm tra lại mã đơn hàng.
        </h3>
    </div>
</section> -->

<!-- Nếu không thấy thêm d-none vào section -->
<section class="slice slice-lg d-none d-sm-none d-md-block">
    <div class="container">
        <ul class="stepBar">
            <li class="stepItem stepItem-box">đóng gói</li>
            <li class="stepItem stepItem-complete">Đã đóng gói</li>
            <li class="stepItem stepItem-active">Đang lấy hàng</li>
            <li class="stepItem stepItem-await">Đợi Giao hàng</li>
            <li class="stepItem">Nhận hàng</li>
            <li class="stepItem stepItem-evaluate">Đánh giá</li>
        </ul>
    </div>
</section>

<!-- Nếu không thấy thêm d-none vào section -->
<section class="slice slice-sm slice-lg min-vh-100">
    <div class="container">
        <div class="row">
            <!-- Thông tin đơn hàng -->
            <div class="col-md-6 my-3">
                <div class="card h-100 hover-translate-y-n10 hover-shadow-lg w-100">
                    <div class="py-5 px-3">
                        <div>
                            <h5 class="text-capitalize">Thông tin đơn hàng</h5>
                            <ul class="InformationLine">
                                <li>
                                    <span class="key">Đơn vị giao hàng: </span>
                                    <span class="value">Lazada</span>
                                </li>
                                <li>
                                    <span class="key">Dịch vụ giao hàng: </span>
                                    <span class="value">Giao hàng tiêu chuẩn</span>
                                </li>
                                <li>
                                    <span class="key">Số tiền cần thu: </span>
                                    <span class="value">0đ</span>
                                </li>
                                <li>
                                    <span class="key">Ghi chú tài xế: </span>
                                    <span class="value">_</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <img src="assets/img/fee/theodoidonhang/thong-tin-don-hang.jpg" class="img-fluid img-center"
                            style="height: 250px" />
                    </div>
                </div>
            </div>
            <!-- Lịch sủ giao hàng -->
            <div class="col-md-6 my-3">
                <div class="card h-100 hover-translate-y-n10 hover-shadow-lg">
                    <div class="pt-5 px-3">
                        <h5 class="text-capitalize">lịch sử giao hàng</h5>
                    </div>
                    <ul class="timeline">
                        <li>
                            <span class="key">asd as</span>
                            <span class="value">20/12/2020, 12:00</span>
                        </li>
                        <li>
                            <span class="key">asd as</span>
                            <span class="value">20/12/2020, 12:00</span>
                        </li>
                        <li>
                            <span class="key">asd as</span>
                            <span class="value">20/12/2020, 12:00</span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Biên nhận -->
            <div class="col-md-6 my-3">
                <!-- Ẩn biên nhận: 'sử dụng "d-none" ' -->
                <div class="card h-100 text-center hover-translate-y-n10 hover-shadow-lg">
                    <div class="pt-5 px-3 text-left">
                        <h5 class="text-capitalize">Biên nhận</h5>
                    </div>
                    <div class="card-header">
                        <h5 class="text-capitalize font-weight-bold text-success">
                            Chử ký người nhận
                        </h5>
                    </div>
                    <div class="card-body">
                        <img style="max-height: 150px" class="img-fluid img-center"
                            src="https://thuthuatnhanh.com/wp-content/uploads/2019/08/chu-ky-dep-ten-thi.png" />
                    </div>
                    <div class="card-footer text-muted">
                        <p>
                            Tên người nhận:
                            <strong> Mạng Chí Long</strong>
                        </p>
                    </div>
                </div>
            </div>
            <!-- Card trống -->
            <div class="col-md-6 my-3">
                <!-- Ẩn biên nhận: 'sử dụng "d-none" ' -->
                <div class="card h-100 text-center hover-translate-y-n10 hover-shadow-lg"></div>
            </div>
        </div>
    </div>
</section>

<!-- Tạo folder quản lý file, import khi sử dụng, style quan trọng -->

<!-- Lịch sử giao hàng -->

<style>
    .timeline {
        list-style: none;
    }

    .timeline li {
        position: relative;
        padding: 10px;
    }

    .timeline li .key {
        font-weight: 600;
    }

    .timeline li .value {
        display: block;
        font-style: italic;
        font-size: 12px;
    }

    .timeline li:before {
        content: "";
        background-image: url("assets/img/icon/check.png");
        width: 16px;
        height: 16px;
        border-radius: 50%;
        /* background: #D8D8D8; */
        position: absolute;
        left: -15px;
        top: 50%;
        transform: translateY(-40%);
        z-index: 99;
    }

    .timeline li:not(:last-child):after {
        content: "";
        width: 2px;
        height: 100%;
        position: absolute;
        left: -8px;
        top: 50%;
        border-left: 3px dashed yellowgreen;
    }
</style>

<!-- Thông tin đơn hàng -->

<style>
    .InformationLine {
        list-style-type: circle;
    }

    .InformationLine li .value {
        font-style: italic;
        font-size: 14px;
        font-weight: 600;
    }
</style>

<!-- Trạng thái đơn hàng -->
<style>
    .stepBar {
        list-style: none;
        display: flex;
        padding: 0;
        font-family: "Font Awesome 5 Free";
    }

    .stepItem {
        display: flex;
        flex-direction: column;
        flex: 1;
        text-align: center;
        position: relative;
    }

    .stepItem:before {
        width: 3em;
        height: 3em;
        content: "\f021";
        align-self: center;
        background: #999;
        color: #fff;
        border-radius: 100%;
        line-height: 3em;
        margin-bottom: 0.5em;
        font-weight: 900;
    }

    .stepItem:after {
        height: 2px;
        width: calc(100% - 4em);
        content: "";
        background: #999;
        position: absolute;
        top: 1.5em;
        left: calc(50% + 2em);
    }

    .stepItem:last-child:after {
        content: none;
    }

    .stepItem-box:before {
        content: "\f1b2";

        background-color: goldenrod;
    }

    .stepItem-evaluate:before {
        content: "\f005";
        background-color: 999;
    }

    .stepItem-complete:before {
        content: "\f00c";
        background-color: green;
    }

    .stepItem-active:before {
        content: "\f0d1";
        background-color: yellowgreen;
    }

    .stepItem-await:before {
        content: "\f021";
        background-color: #999;
    }
</style>